.Navbar {
  background-color: rgb(29, 134, 179);
  font-size: 1rem;
  padding: .3em 1em;
  display: grid;
  grid-template-columns: 60px 60px 300px;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.Link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
}

.Link:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.Profile {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: white;
  font-size: 1.15rem;
  font-weight: 500;
}

.Profile img {
  margin-right: 1em;
  border-radius: 50%;
  object-fit: cover;
}

.Profile button {
  padding: 0.6em 1em;
  border: none;
  background-color: white;
  border-radius: 1000px;
}
