nav{
  box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgba(255, 255, 255, 0.299);
}

nav .container{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5em;
  padding: .4em;
}

nav .container .profile{
  width: 3rem;
  aspect-ratio: 1 / 1;
  margin-right: 1em;
  padding-block: .2em;
}

nav .profile .picture{
  object-fit: cover;
  width:110%;
  border-radius: 100px;
}

nav .container .menu{
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  opacity: .8;
  padding-bottom: 3px;
}

nav .container .menu:hover{
  opacity: 1;
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(42, 255, 42);
}

nav .container .menu.active{
  color: rgb(42, 255, 42);
  font-weight: 500;
}

.hero{
  width: 50%;
  margin: 6em auto;
  padding-bottom: 3em;
  height: 25rem;
}

.hero .container{
  width: 75%;
  text-transform: uppercase;
}

.hero .heading{
  font-size: 4.25rem;
  margin-bottom: 1em;
}

.hero .sub-heading{
  font-size: 2rem;
  margin-right: .6em;
  word-spacing: .1em;
}

.hero .heading .symbol{
  color: #2aff2a;
}

.skill-section{
  position: relative;
  padding-bottom: 6em;
}

.skill-section .container{
  width: 80%;
  margin: 4em auto;
  margin-bottom: 0;
  text-align: center;
  padding-block:3em ;
}

.skill-section .background img{
  width: 100%;
  height: 65rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: brightness(70%);
  z-index: -1;
}

.skill-section .heading{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  margin:.3em;
  margin-bottom: 1em;
  
}

.skill-section .sub-heading{
  font-size: 2rem;
  text-transform: uppercase;
  margin-inline: .3em;
  font-weight: 300;
}

.skill-section .skills{
  display: flex;
  flex-direction: column;
  margin: 5em 6em;
}

.skill-section .skills .skill-name{
  display: flex;
  align-items: center;
  gap: 1em;
}

.skill-section .skill-name .__text{
  color: white;
  text-transform: uppercase;
  width: 10%;
  text-align: right;
  opacity: .8;
}

.skill-section .skill-name span{
  width: 90%;
  background-color:#2aff2a;
  font-size: .5rem;
}

.skill-section .skill-name .one{
  width: 50%;
  animation: widthChangeOne 2s ease-in-out;
}

.skill-section .skill-name .two{
  width: 40%;
  animation: widthChangeTwo 2s ease-in-out;
}

.skill-section .skill-name .three{
  width: 15%;
  animation: widthChangeThree  2s ease-in-out;
}

.skill-section .skill-name .level{
  opacity: .9;
  text-transform: uppercase;
  font-weight: 500;
}

@keyframes widthChangeOne {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes widthChangeTwo {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

@keyframes widthChangeThree {
  0% {
    width: 0;
  }
  100% {
    width: 15%;
  }
}

footer .container{
  width: 65%;
  background-color:rgb(255, 255, 255);
  border-radius: .3em;
  padding: 5em;
  margin: 4em auto;
  display: flex;
  align-items: top;
  gap: 3em;
}

footer .left{
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer .left .heading{
  margin-top: 0;
  margin-bottom: .8rem;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

footer .left .sub-heading{
  margin-bottom: 2em;
  font-size: 1.15rem;
  font-weight: 300;
}

footer .left .email,footer .left .number{
  margin-bottom: 0;
}

footer .right input{
  padding: .8em;
  border: solid 1px gray;
  border-radius: .2em;
}

footer .right input::placeholder{
  color: black;
  text-transform: capitalize;
  font-weight: 300;
  font-size: .9rem;
  opacity: .7;
}


footer .right{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .name-email input{
  width: 47.5%;
}


footer .right .name-email{
  display: flex;
  align-items: center;
  gap: 5%;
}


footer .right textarea{
  font-family: 'Roboto',sans-serif;
  text-align: left;
  padding: 1em;
  margin-bottom: 1em;
  color: black;
  text-transform: capitalize;
  font-weight: 300;
  font-size: .9rem;
  opacity: .9;
}

footer .right .submit{
  text-align: center;
  width: 100%;
}

footer .submit button{
  width: 100%;
  border-radius: .3em;
  font-size: 1rem;
  font-weight: 500;
  padding-block: 1em;
  color: white;
  border: none;
  background-color: #2aff2a;
  transition: all 400ms ease;
}

footer .submit button:hover{
  cursor: pointer;
  background-color: #dcdcdc;
}
